.greenDiv{
    background-color: #1ba400;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin: 400px auto;

    animation: green 1.5s linear infinite;
}

@keyframes green{
    0%{
        transform: translateY(-500px) scale(3);
        }
    50%{
        transform: translateY(0px);
        background-color: #0f5e00;
        border-color: #5e000e;
        border-radius: 10%;
    }
    100%{
        transform: translateY(500px) scale(0);
        background-color: #000000;
    }
    }
