body{
    background-color: rgba(24, 101, 34, 0.83);
    font-size: 20px;
}

h4{
    font-size: 30px;
}
.box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
    width: 100vw;
}
.minibox{
    background-color: #d6ffe4;
    width: 12vw;
    height: 12vw;
    border-radius: 10px;
    padding: 0 20px;
}

#box1{
    margin: 6vh 0;
}
